/* ======= ESTILOS GENERALES ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ======= NAVBAR ======= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.logo span {
  color: #aa3a3a;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #333;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #aa3a3a;
}

/* ======= INICIO / BANNER ======= */
.inicio {
  background: linear-gradient(to right, #c42e2e, #33393a);
  color: white;
  text-align: center;
  padding: 8rem 2rem;
}

.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.banner h1 span {
  color: #f0eeee;
}

.banner p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.btn {
  background: white;
  color: #c42e2e;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-weight: 600;
}

.btn:hover {
  background: #c42e2e;
  color: white;
  border: 2px solid white;
}

/* ======= SOBRE MI ======= */
.sobre-mi {
  padding: 5rem 2rem;
  background: #fff;
  text-align: center;
}

.sobre-mi .container {
  max-width: 800px;
  margin: auto;
}

.sobre-mi h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #c42e2e;
}

/* ======= PROYECTOS ======= */
.proyectos {
  padding: 5rem 2rem;
  background: #f1f1f1;
}

.proyectos h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: #c42e2e;
}

.grid-proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
  gap: 2rem;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .grid-proyectos {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }
}

@media (max-width: 600px) {
  .grid-proyectos {
    grid-template-columns: 1fr; /* 1 columna */
  }
}


.proyecto {
  background: white;
  border-radius: 10px;
}